@page "/crop-details"

@using Agrigate.Domain.Entities.Crops

@inherits CropDetailsBase
@attribute [Authorize]

<PageTitle>Crop Details</PageTitle>

@if (IsLoading)
{
    <div class="content-loading">
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large" />
    </div>
}
else
{
    <MudBreadcrumbs Items="Breadcrumbs" Separator=">" />
    
    <MudTable 
        T="CropDetail" 
        Items="CropDetails" 
        Hover="true"
        Filter="new Func<CropDetail, bool>(Filter)">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Crop Details</MudText>
            <MudSpacer/>
            <MudTextField 
                Placeholder="Search" 
                @bind-Value="SearchTerm"
                Adornment="Adornment.Start"
                AdornmentIcon="fas fa-magnifying-glass"
                IconSize="Size.Small"
                Style="margin-right: 1rem;"/>
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                StartIcon="fas fa-plus"
                OnClick="HandleCreateNewDetail">
                New Crop Detail
            </MudButton>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Crop</MudTh>
            <MudTh>Cultivar</MudTh>
            <MudTh>DTM</MudTh>
            <MudTh>Plant</MudTh>
            <MudTh>Soak</MudTh>
            <MudTh>Stack</MudTh>
            <MudTh>Blackout</MudTh>
            <MudTh>Nursery</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Crop</MudTd>
            <MudTd>@context.Cultivar</MudTd>
            <MudTd>@context.Dtm</MudTd>
            <MudTd>@context.PlantQuantity</MudTd>
            <MudTd>@context.SoakHours</MudTd>
            <MudTd>@context.StackingDays</MudTd>
            <MudTd>@context.BlackoutDays</MudTd>
            <MudTd>@context.NurseryDays</MudTd>
        </RowTemplate>
    </MudTable>
}